<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lists/Twitter</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/home.css" />
  <link rel="stylesheet" href="../css/lists.css" />
</head>

<body>
  <div class="wrapper">

    <!-- ** LEFT SIDEBAR ** -->
    <aside class="navigation">

      <!-- TOP -->
      <div class="top">

        <!-- Brand -->
        <div class="brand">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </div>

        <!-- Navigation -->
        <nav>
          <ul>
            <li>
              <a href="./home.html">
                <i class="fas fa-home"></i> <span>Home</span>
              </a>
            </li>
            <li>
              <a href="./explore.html">
                <i class="fas fa-hashtag"></i> <span>Explore</span>
              </a>
            </li>
            <li>
              <a href="./notification.html">
                <i class="far fa-bell"></i> <span>Notifications</span>
              </a>
            <li>
              <a href="./messages.html">
                <i class="fas fa-envelope"></i> <span>Messages</span>
              </a>
            </li>
            <li>
              <a href="./bookmarks.html">
                <i class="far fa-bookmark"></i> <span>Bookmarks</span>
              </a>
            </li>
            <li>
              <a href="#" class="active">
                <i class="fas fa-list"></i> <span>Lists</span>
              </a>
            </li>
            <li>
              <a href="./profile.html">
                <i class="far fa-user"></i> <span>Profile</span>
              </a>
            </li>
            <li>
              <a href="./more.html">
                <i class="far fa-comment-dots"></i> <span>More</span>
              </a>
            </li>
          </ul>
        </nav>

        <!-- Tweet Button -->
        <button class="btn btn--tweet">
          <span>Tweet</span>
          <i class="fa fa-comment"></i>
        </button>
      </div>

      <!-- BOTTOM -->
      <div class="bottom">
        <a href="#" class="profile-container">
          <div class="profile">
            <img src="../images/profile-avatar.png" alt="profile-avatar" />
            <div class="profile__name">
              <strong>Vichu_vishwa</strong>
              <span>@Vichuvishwa5</span>
            </div>
          </div>
          <div class="arrow"><i class="fas fa-angle-down"></i></div>
        </a>
      </div>
    </aside>

    <!-- ** MAIN ** -->
    <div class="main">
      <div class="row">
        <div class="col-12">
          <div class="head">
            <h1 style="font-weight: bold;"><i class="fas fa-arrow-left" style="color: #1DA1F2;"></i> <span style="padding: 1rem;">Lists</span><i class="fas fa-list" style="color: #1DA1F2;float: right;"></i></h1>
            <p style="font-size: 1.6rem;">@Vichu_vishwa5</p>
          </div>
          <div class="list-body">
            <h1 style="font-weight: bold;">Pinned</h1>
            <p style="font-size: 1.6rem;color: grey; text-align: center;">Nothing to see here yet — pin up to five of your favorite Lists to access them quickly.</p>
          </div>
          <div class="your-list">
            <h1 style="font-weight: bold;">Your List</h1>
            <h2 style="font-weight: bold;">You haven’t created any Lists yet</h2>
            <p style="font-size: 1.6rem;">When you do, it’ll show up here.</p>
            <button type="button" role="button" class="btn btn-create">Create a List</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ** RiGHT SIDEBAR ** -->
    <aside class="sidebar">
      <form class="search-form">
        <input type="search" placeholder="Search Twitter" />
      </form>

      <div class="whats-happening">
        <h4>What's Happening</h4>
        <div class="happening">
          <div class="happening-left">
            <div class="meta">
              US news . 2 hours ago
            </div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
          </div>
          <div class="happening-right">
            <div class="happening-image">
              <img src="../images/sidebar1-img.jpg" alt="Kitten">
            </div>
          </div>
        </div>

        <div class="happening">
          <div class="happening-left">
            <div class="meta">
              US news . 2 hours ago
            </div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. ipsum dolor sit ipsum dolor sit
            </div>
            <div class="sub-meta">
              4,320 Tweets
            </div>
          </div>
          <div class="happening-right">
            <div class="happening-more">
              <a class="hover-link" href="#">
                <i class="fas fa-angle-down"></i>
              </a>
            </div>
          </div>
        </div>

        <footer class="happening-footer">
          <a href="#">
            Show more
          </a>
        </footer>

      </div>

      <div class="whats-happening">
        <h4>Who to Follow</h4>
        <div class="happening">
          <div class="happening-left">
            <div class="happening-profile">
              <img class="profile-image" src="../images/sidebar2-img.jpg" alt="Jesse James Burton" />
              <div class="profile-name">
                <a href="#">James Anderson</a>
                <a href="#">@james007</a>
              </div>
            </div>
          </div>
          <div class="happening-right">
            <button class="btn btn--follow">Follow</button>
          </div>
        </div>

        <div class="happening">
          <div class="happening-left">
            <div class="happening-profile">
              <img class="profile-image" src="../images/sidebar3-img.jpg" alt="Jesse James Burton" />
              <div class="profile-name">
                <a href="#">Tom Cruise</a>
                <a href="#">@tommyguy</a>
              </div>
            </div>
          </div>
          <div class="happening-right">
            <button class="btn btn--follow">Follow</button>
          </div>
        </div>

        <footer class="happening-footer">
          <a href="#">
            Show more
          </a>
        </footer>
      </div>

      <footer class="sidebar__footer">
        <div>
          <a href="#">Terms</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Cookies</a>
          <a href="#">Ads info</a>
          <a href="#">More <i class="fas fa-angle-down"></i></a>
        </div>
        <div>
          &copy 2020 Twitter, Inc
        </div>
      </footer>

    </aside>

    <div id="popup" class="popup">
      <header>
        <img class="profile-image profile-image--nohover" src="../images/sidebar3-img.jpg"
          alt="Jesse James Burton" />
        <div>
          <button class="btn btn--follow following">Following</button>
        </div>
      </header>
      <div class="popup__text">
        <div class="popup__name"><a href="#">John Doe</a></div>
        <div class="popup__meta">
          <a href="#">@JoeDoe</a>
          <span class="follows">Follows you</span>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, a sunt.</p>
        <div class="popup__following">
          <div>
            <strong>1,234</strong>
            Following
          </div>
          <div>
            <strong>1,432</strong>
            Followers
          </div>
        </div>
      </div>
      <footer>
        <p>Not followed by anyone you're following</p>
      </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>