<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notifications/Twitter</title>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/home.css" />
  <link rel="stylesheet" href="../css/explore.css"/>
  <link rel="stylesheet" href="../css/notification.css"/>
</head>

<body>
  <div class="wrapper">

    <!-- ** LEFT SIDEBAR ** -->
    <aside class="navigation">

      <!-- TOP -->
      <div class="top">

        <!-- Brand -->
        <div class="brand">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </div>

        <!-- Navigation -->
        <nav>
          <ul>
            <li>
              <a href="./home.html">
                <i class="fas fa-home"></i> <span>Home</span>
              </a>
            </li>
            <li>
              <a href="./explore.html">
                <i class="fas fa-hashtag"></i> <span>Explore</span>
              </a>
            </li>
            <li>
              <a href="#"  class="active">
                <i class="far fa-bell"></i> <span>Notifications</span>
              </a>
            <li>
              <a href="./messages.html">
                <i class="fas fa-envelope"></i> <span>Messages</span>
              </a>
            </li>
            <li>
              <a href="./bookmarks.html">
                <i class="far fa-bookmark"></i> <span>Bookmarks</span>
              </a>
            </li>
            <li>
              <a href="./lists.html">
                <i class="fas fa-list"></i> <span>Lists</span>
              </a>
            </li>
            <li>
              <a href="./profile.html">
                <i class="far fa-user"></i> <span>Profile</span>
              </a>
            </li>
            <li>
              <a href="./more.html">
                <i class="far fa-comment-dots"></i> <span>More</span>
              </a>
            </li>
          </ul>
        </nav>

        <!-- Tweet Button -->
        <button class="btn btn--tweet">
          <span>Tweet</span>
          <i class="fa fa-comment"></i>
        </button>
      </div>

      <!-- BOTTOM -->
      <div class="bottom">
        <a href="#" class="profile-container">
          <div class="profile">
            <img src="../images/profile-avatar.png" alt="profile-avatar" />
            <div class="profile__name">
              <strong>Vichu_vishwa</strong>
              <span>@Vichuvishwa5</span>
            </div>
          </div>
          <div class="arrow"><i class="fas fa-angle-down"></i></div>
        </a>
      </div>
    </aside>

    <!-- ** MAIN ** -->
    <div class="main">
      <div class="row">
        <div class="col-12 head">
          <h1 style="padding: 1rem;">Notifications<span><i class="fas fa-cog"></i></span></h1>
          <ul class="noti-nav">
            <li class="all"><a href="#" class="active">All</a></li>
            <li class="mentions"><a href="#">Mentions</a></li>
          </ul>
          <div class="all-noti">
            <div class="for-you-one">
              <a href="#">
                <h3 style="font-weight: bold; font-size: 2rem;">Login Alert<i class="fab fa-twitter" style="color: #1DA1F2; float: right;"></i></h3>
                <h4 style="font-size: 1.8rem;">There was a login to your account from another device</h4>
                <p style="font-size: 1.6rem;">There was a login to your account @Vichuvishwa5 from a new device on Jul 24, 2020. Review it now.
              </a>
            </div>
            <div class="for-you-two">
              <a href="#">
                <h3 style="font-weight: bold;font-size: 2rem;">In case you missed Narendra Modi's Tweet<i class="far fa-star" style="color: #1DA1F2;float: right;"></i></h3>
                <p style="font-size: 1.8rem;">Shri Lalji Tandon will be remembered for his untiring efforts to serve society. He played a key role in strengthening the BJP in Uttar Pradesh. He made a mark as an effective administrator, always giving importance of public welfare. Anguished by his passing away. https://pic.twitter.com/6GeYOb5ApI</p>
              </a>
            </div>
            <div class="for-you-three">
              <a href="#" style="text-decoration: none;">
                <h3 style="font-weight: bold; font-size: 2rem;">Narendra Modi Retweeted a Tweet from Sarbananda Sonowal<i class="fas fa-retweet" style="color: #1DA1F2;float: right;"></i></h3>
                <p style="font-size: 1.8rem;">Hon'ble PM Shri @narendramodi ji took stock of the contemporary situation regarding #AssamFloods2020, #COVID19 and Baghjan Oil Well fire scenario over phone this morning. 
                  Expressing his concern & solidarity with the people, the PM assured all support to the state.</p>
                <p style="color: grey;font-size: 1.6rem;">4,323 tweets</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ** RiGHT SIDEBAR ** -->
    <aside class="sidebar">
      <form class="search-form">
        <input type="search" placeholder="Search Twitter" />
      </form>

      <div class="whats-happening">
        <h4>What's Happening</h4>
        <div class="happening">
          <div class="happening-left">
            <div class="meta">
              US news . 2 hours ago
            </div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
          </div>
          <div class="happening-right">
            <div class="happening-image">
              <img src="../images/sidebar1-img.jpg" alt="Kitten">
            </div>
          </div>
        </div>

        <div class="happening">
          <div class="happening-left">
            <div class="meta">
              US news . 2 hours ago
            </div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. ipsum dolor sit ipsum dolor sit
            </div>
            <div class="sub-meta">
              4,320 Tweets
            </div>
          </div>
          <div class="happening-right">
            <div class="happening-more">
              <a class="hover-link" href="#">
                <i class="fas fa-angle-down"></i>
              </a>
            </div>
          </div>
        </div>

        <footer class="happening-footer">
          <a href="#">
            Show more
          </a>
        </footer>

      </div>

      <div class="whats-happening">
        <h4>Who to Follow</h4>
        <div class="happening">
          <div class="happening-left">
            <div class="happening-profile">
              <img class="profile-image" src="../images/sidebar2-img.jpg" alt="Alex" />
              <div class="profile-name">
                <a href="#">James Anderson</a>
                <a href="#">@james007</a>
              </div>
            </div>
          </div>
          <div class="happening-right">
            <button class="btn btn--follow">Follow</button>
          </div>
        </div>

        <div class="happening">
          <div class="happening-left">
            <div class="happening-profile">
              <img class="profile-image" src="../images/sidebar3-img.jpg" alt="James" />
              <div class="profile-name">
                <a href="#">Tom Cruise</a>
                <a href="#">@tommyguy</a>
              </div>
            </div>
          </div>
          <div class="happening-right">
            <button class="btn btn--follow">Follow</button>
          </div>
        </div>

        <footer class="happening-footer">
          <a href="#">
            Show more
          </a>
        </footer>
      </div>

      <footer class="sidebar__footer">
        <div>
          <a href="#">Terms</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Cookies</a>
          <a href="#">Ads info</a>
          <a href="#">More <i class="fas fa-angle-down"></i></a>
        </div>
        <div>
          &copy 2020 Twitter, Inc
        </div>
      </footer>

    </aside>
    </main>

    <div id="popup" class="popup">
      <header>
        <img class="profile-image profile-image--nohover" src="https://placebeard.it/320x320?tweet2dsfas"
          alt="Jesse James Burton" />
        <div>
          <button class="btn btn--follow following">Following</button>
        </div>
      </header>
      <div class="popup__text">
        <div class="popup__name"><a href="#">John Doe</a></div>
        <div class="popup__meta">
          <a href="#">@JoeDoe</a>
          <span class="follows">Follows you</span>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, a sunt.</p>
        <div class="popup__following">
          <div>
            <strong>1,234</strong>
            Following
          </div>
          <div>
            <strong>1,432</strong>
            Followers
          </div>
        </div>
      </div>
      <footer>
        <p>Not followed by anyone you're following</p>
      </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
</body>

</html>